<div class="tf-breadcrumb">
    <div class="container">
        <div class="tf-breadcrumb-wrap d-flex justify-content-between flex-wrap align-items-center">
            <div class="tf-breadcrumb-list">
                <a href="{% url 'home-women' %}" class="text">Home</a>
                <i class="icon icon-arrow-right"></i>
                <a href="{% url 'home-'|add:product.category.name|lower %}" class="text">{{ product.category.name }}</a>
                <i class="icon icon-arrow-right"></i>
                <span class="text">{{ product.name }}</span>
            </div>
        </div>
    </div>
</div>