{% comment %} passed product object {% endcomment %}
{% load custom-filters %}
<div class="modal fade modalDemo tf-product-modal modal-part-content" id="compare_color">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="header">
                <div class="demo-title">Compare color</div>
                <span class="icon-close icon-close-popup" data-bs-dismiss="modal"></span>
            </div>
            <div class="tf-compare-color-wrapp">
                <div class="tf-compare-color-grid">
                    {% with product|get_product_variants as variants %}
                    {% for variant in variants %}

                    <input type="checkbox" class="sr-only" id="remove-compare-color-beige-1">
                    <div class="tf-compare-color-item">
                        <div class="tf-compare-color-top">
                            <label for="remove-compare-color-beige-1" class="tf-compare-color-remove">Remove</label>
                            <img class="lazyload" data-src="{{variant.image}}" src="{{variant.image}}" alt="img-compare">
                        </div>
                        <div class="tf-compare-color-bottom">
                            {% comment %} color {% endcomment %}
                            <div class="tf-compare-color-color">
                                <span class="tf-color-list-color bg-color-{{variant.color|lower}}"></span>
                                <span>{{variant.color}}</span>
                            </div>
                            {% comment %} price with size & selected_color{% endcomment %}
                            <form class="">
                                <select class="tf-select" name="id">
                                    {% for size, price in variant.prices.items %}
                                    <option value="{{size}}" {% if forloop.first %} selected{% endif %}>{{size}} - {{price}}</option>
                                    {% endfor %}
                                </select>
                                <a href="javascript:void(0);" class="tf-btn btn-fill justify-content-center fw-6 fs-16 flex-grow-1 animate-hover-btn btn btn-add-to-cart"><span>Add to cart</span></a>
                            </form>
                        </div>
                    </div>

                    {% endfor %}
                    {% endwith %}
                </div>
            </div>
        </div>
    </div>
</div>