{% load static %}
<div class="tf-product-info-trust-seal">
    <div class="tf-product-trust-mess">
        <i class="icon-safe"></i>
        <p class="fw-6">Guarantee Safe <br> Checkout</p>
    </div>
    <div class="tf-payment">
        <img src="{% static 'images/payments/visa.png' %}" alt="">
        <img src="{% static 'images/payments/img-1.png' %}" alt="">
        <img src="{% static 'images/payments/img-2.png' %}" alt="">
        <img src="{% static 'images/payments/img-3.png' %}" alt="">
        <img src="{% static 'images/payments/img-4.png' %}" alt="">
    </div>
</div>