{% load static %}
{% load custom-filters %}
<!-- people also bought -->
<section class="flat-spacing-1 pt_0">
    <div class="container">
        <div class="flat-title">
            <span class="title">People Also Bought</span>
        </div>
        <div class="hover-sw-nav hover-sw-2">
            <div dir="ltr" class="swiper tf-sw-product-sell wrap-sw-over" data-preview="4" data-tablet="3" data-mobile="2" data-space-lg="30" data-space-md="15" data-pagination="2" data-pagination-md="3" data-pagination-lg="3">
                <div class="swiper-wrapper">
                    {% for product in people_also_bought %}
                        <div class="swiper-slide" lazy="true">
                            <div class="card-product style-2">
                                <div class="card-product-wrapper">
                                    <a href="{% url 'server:product-detail' product.id %}" class="product-img">
                                        {% with first_image=product.variants.first.get_images.first %}
                                            <img
                                                class="lazyload img-product"
                                                data-src="{{ first_image.image.url }}"
                                                src="{{ first_image.image.url }}"
                                                alt="{{ product.name }}"
                                            />
                                        {% endwith %}
                                        {% with second_image=product.variants.first.get_images.last %}
                                            <img
                                                class="lazyload img-hover"
                                                data-src="{{ second_image.image.url }}"
                                                src="{{ second_image.image.url }}"
                                                alt="{{ product.name }}"
                                            />
                                        {% endwith %}
                                    </a>
                                    <div class="list-product-btn column-left">
                                        {% include 'server/components/shop/add-to-wishlist.html' %}
                                    </div>
                                    <div class="list-product-btn absolute-3">
                                        <a
                                            href="#quick_add"
                                            data-bs-toggle="modal"
                                            class="box-icon quick-add style-2"
                                        >
                                            <span class="icon icon-bag"></span>
                                            <span class="text">QUICK ADD</span>
                                        </a>
                                        <a
                                            href="#quick_view"
                                            data-bs-toggle="modal"
                                            class="box-icon quickview style-2"
                                        >
                                            <span class="icon icon-view"></span>
                                            <span class="text">QUICK VIEW</span>
                                        </a>
                                    </div>
                                    <div class="size-list style-2">
                                        {% with first_variant=product.variants.first %}
                                            {% with color=first_variant.get_color %}
                                                {% if color %}
                                                    {% for variant in product.variants.all %}
                                                        {% if variant.get_color == color %}
                                                            {% with size=variant.attributes.filter.first %}
                                                                <span>{{ size.value }}</span>
                                                            {% endwith %}
                                                        {% endif %}
                                                    {% endfor %}
                                                {% endif %}
                                            {% endwith %}
                                        {% endwith %}
                                    </div>
                                    {% with first_variant=product.variants.first %}
                                        {% if first_variant.discount_percentage > 0 %}
                                            <div class="on-sale-wrap text-end">
                                                <div class="on-sale-item">
                                                    -{{ first_variant.discount_percentage }}%
                                                </div>
                                            </div>
                                        {% endif %}
                                    {% endwith %}
                                    <div class="countdown-box">
                                        <div
                                            class="js-countdown"
                                            data-timer="1007500"
                                            data-labels="d :,h :,m :,s"
                                        ></div>
                                    </div>
                                </div>
                                <div class="card-product-info">
                                    <a href="{% url 'server:product-detail' product.id %}" class="title link"
                                    >{{ product.name }}</a
                                        >
                                        {% with first_variant=product.variants.first %}
                                            <span class="price">Rs. {{ first_variant.discount_price }}</span>
                                        {% endwith %}
                                        <ul class="list-color-product">
                                            {% for image in product.images.all %}
                                                {% if image.color %}
                                                    <li class="list-color-item color-swatch {% if forloop.first %}active{% endif %}">
                                                        <span class="tooltip">{{ image.color }}</span>
                                                        <span class="swatch-value bg_{% if image.color|lower == 'black' %}dark{% else %}{{ image.color|lower }}{% endif %}"></span>
                                                        <img
                                                            class="lazyload"
                                                            data-src="{{ image.image.url }}"
                                                            src="{{ image.image.url }}"
                                                            alt="{{ product.name }} - {{ image.color }}"
                                                        />
                                                    </li>
                                                {% endif %}
                                            {% endfor %}
                                        </ul>
                                    </div>
                                </div>
                            </div>
                    {% endfor %}
                </div>
            </div>
            <div class="nav-sw nav-next-slider nav-next-product box-icon w_46 round"><span class="icon icon-arrow-left"></span></div>
            <div class="nav-sw nav-prev-slider nav-prev-product box-icon w_46 round"><span class="icon icon-arrow-right"></span></div>
            <div class="sw-dots style-2 sw-pagination-product justify-content-center"></div>
        </div>
    </div>
</section>
<!-- /people also bought -->