<div class="d-flex align-items-center gap-12">
  <div class="text-caption-1">Sort by:</div>
  <div class="tf-dropdown-sort" data-bs-toggle="dropdown">
    <div class="btn-select">
      <span class="text-sort-value">Most Recent</span>
      <span class="icon icon-arrow-down"></span>
    </div>
    <div class="dropdown-menu">
      <div class="select-item active" hx-get="{% url 'sort-reviews' product_id=product.id sort_by='most_recent' %}" hx-trigger="click" hx-target="#reviews-list">
        <span class="text-value-item">Most Recent</span>
      </div>
      <div class="select-item" hx-get="{% url 'sort-reviews' product_id=product.id sort_by='oldest' %}" hx-trigger="click" hx-target="#reviews-list">
        <span class="text-value-item">Oldest</span>
      </div>
      <div class="select-item" hx-get="{% url 'sort-reviews' product_id=product.id sort_by='most_popular' %}" hx-trigger="click" hx-target="#reviews-list">
        <span class="text-value-item">Most Popular</span>
      </div>
    </div>
  </div>
</div>
