{% comment %}image update{% endcomment %}

{% include 'server/partials/product/product-image-swipper.html' %}

{% comment %}price update{% endcomment %}

{% include 'server/partials/product/product-price.html' %}

{% comment %}size update{% endcomment %}

<div class="variant-picker-label" id="current-size" hx-swap-oob="true">
  Size: <span class="fw-6 variant-picker-label-value">{{ product_variant.size }}</span>
</div>

{% comment %}update the quantity{% endcomment %}
{% with quantity=1 %}
  {% include 'server/partials/product/update-total-price.html' %}
{% endwith %}

{% comment %}ADD TO CART BTN ---> variant is in stock OR out of stock{% endcomment %}
{% if product_variant.stock == 0 %}
  {% include 'server/partials/product/add-to-cart-btn.html' %}
{% else %}
  {% include 'server/partials/product/add-to-cart-btn.html' with value=product_variant.discount_price %}
{% endif %}
