<div class="offcanvas offcanvas-start canvas-filter" id="filterShop">
    <div class="canvas-wrapper">
      <header class="canvas-header">
        <div class="filter-icon">
          <span class="icon icon-filter"></span>
          <span>Filter</span>
        </div>
        <span class="icon-close icon-close-popup" data-bs-dismiss="offcanvas" aria-label="Close"></span>
      </header>
      <div class="canvas-body">
        {% include 'server/components/shop/categories.html' %}
        {% include 'server/partials/filter-form.html' %}
      </div>
    </div>
  </div>