<div class="widget-facet">
  <div class="facet-title" data-bs-target="#follow" data-bs-toggle="collapse" aria-expanded="true" aria-controls="follow">
    <span>Follow us</span>
    <span class="icon icon-arrow-up"></span>
  </div>
  <div id="follow" class="collapse show">
    <ul class="tf-social-icon d-flex gap-10">
      <li>
        <a href="#" class="box-icon w_34 round bg_line social-facebook"><i class="icon fs-14 icon-fb"></i></a>
      </li>
      <li>
        <a href="#" class="box-icon w_34 round bg_line social-twiter"><i class="icon fs-12 icon-Icon-x"></i></a>
      </li>
      <li>
        <a href="#" class="box-icon w_34 round bg_line social-instagram"><i class="icon fs-14 icon-instagram"></i></a>
      </li>
      <li>
        <a href="#" class="box-icon w_34 round bg_line social-tiktok"><i class="icon fs-14 icon-tiktok"></i></a>
      </li>
      <li>
        <a href="#" class="box-icon w_34 round bg_line social-pinterest"><i class="icon fs-14 icon-pinterest-1"></i></a>
      </li>
    </ul>
  </div>
</div>
