<div class="tf-control-sorting d-flex justify-content-end">
  <div class="tf-dropdown-sort" data-bs-toggle="dropdown">
    <div class="btn-select">
      <span class="text-sort-value">Featured</span>
      <span class="icon icon-arrow-down"></span>
    </div>
    <div class="dropdown-menu">
      <div class="select-item active" hx-get="{% url 'update-sort' 'featured' %}" hx-target="#gridLayout" hx-swap="innerHTML swap:0.3s" hx-trigger="click">
        <span class="text-value-item">Featured</span>
      </div>
      <div class="select-item" data-sort-value="a-z" hx-get="{% url 'update-sort' 'a-z' %}" hx-target="#gridLayout" hx-swap="innerHTML swap:0.3s" hx-trigger="click">
        <span class="text-value-item">Alphabetically, A-Z</span>
      </div>
      <div class="select-item" data-sort-value="z-a" hx-get="{% url 'update-sort' 'z-a' %}" hx-target="#gridLayout" hx-swap="innerHTML swap:0.3s" hx-trigger="click">
        <span class="text-value-item">Alphabetically, Z-A</span>
      </div>
      <div class="select-item" data-sort-value="price-low-high" hx-get="{% url 'update-sort' 'price-low-high' %}" hx-target="#gridLayout" hx-swap="innerHTML swap:0.3s" hx-trigger="click">
        <span class="text-value-item">Price, low to high</span>
      </div>
      <div class="select-item" data-sort-value="price-high-low" hx-get="{% url 'update-sort' 'price-high-low' %}" hx-target="#gridLayout" hx-swap="innerHTML swap:0.3s" hx-trigger="click">
        <span class="text-value-item">Price, high to low</span>
      </div>
      <div class="select-item" hx-get="{% url 'update-sort' 'date-old-new' %}" hx-target="#gridLayout" hx-swap="innerHTML swap:0.3s" hx-trigger="click">
        <span class="text-value-item">Date, old to new</span>
      </div>
      <div class="select-item" hx-get="{% url 'update-sort' 'date-new-old' %}" hx-target="#gridLayout" hx-swap="innerHTML swap:0.3s" hx-trigger="click">
        <span class="text-value-item">Date, new to old</span>
      </div>
    </div>
  </div>
</div>
