<form id="filter-form" hx-swap-oob="true">
    <div class="btn filter-icon d-flex align-items-center bg-light rounded px-2 mb-2" id="clear-all-btn"
  onclick="document.querySelectorAll('#filter-form input[type=checkbox]').forEach(checkbox => checkbox.checked = false);"
  hx-get="{% url 'server:filter-products' category_id=selected_category.id %}"
  hx-trigger="click"
  hx-target="#gridLayout"
  hx-swap="innerHTML"
  hx-swap-oob="true"
  >
    <span class="icon icon-close me-1 mx-2" style="font-size: 0.6rem;"></span>
    <span style="font-size: 0.7rem;">Remove Filters</span>
  </div>

    {% include 'server/partials/sub-categories-loop.html' %}

    {% include 'server/partials/brand-filter.html' %}

    {% include 'server/partials/price-range-filter.html' %}

    {% include 'server/partials/size-filter.html' %}

  </form>
  