<div class="widget-facet wd-categories">
    <div class="facet-title" data-bs-target="#sizes" data-bs-toggle="collapse" aria-expanded="true" aria-controls="sizes">
      <span>Sizes</span>
      <span class="icon icon-arrow-up"></span>
    </div>
  <div id="sizes" hx-swap-oob="true">
      <div class="collapse show">
          <ul class="tf-filter-group current-scrollbar mb_36">
              {% for size in sizes %}
                  <li class="list-item d-flex gap-12 align-items-center">
                      <input type="checkbox" 
                             name="size" 
                             class="tf-check"
                             id="size_{{ size }}"
                             value="{{ size }}"
                             hx-get="{% url 'server:filter-products' category_id=selected_category.id %}"
                             hx-trigger="change"
                             hx-include="#filter-form"
                             hx-target="#gridLayout"
                             hx-swap="innerHTML"
                      />
                      <label for="size_{{ size }}" class="label">
                          <span>{{ size }}</span>
                      </label>
                  </li>
              {% endfor %}
          </ul>
      </div>
  </div>
</div>
