<div id="checkout-prices" hx-swap-oob="true">
    <div class="d-flex justify-content-between line pb_20">
        <h6 class="fw-5">Discount</h6>
        <h6 class="total fw-5">Rs. {{discount}}</h6>
    </div>
    {% if gift_wrap %}
        <div class="d-flex justify-content-between line pb_20">
            <h6 class="fw-5">Gift Wrap</h6>
            <h6 class="total fw-5">Rs. 99.00</h6>
        </div>
    {% endif %}
    <div class="d-flex justify-content-between line pb_20">
        <h6 class="fw-5">Tax</h6>
        <h6 class="total fw-5">Rs. {{tax}}</h6>
    </div>
    <div class="d-flex justify-content-between line pb_20">
        <h6 class="fw-5">Total</h6>
        <h6 class="total fw-5">Rs. {{final_total}}</h6>
    </div>
</div>