{% load custom-filters %}

{% comment %} change add to cart button --> go to cart {% endcomment %}
<a id="add-to-cart-btn" hx-swap-oob="true" href="javascript:void(0);" class="tf-btn btn-fill justify-content-center fw-6 fs-16 flex-grow-1 animate-hover-btn btn-add-to-cart"><span>Show cart</span></a>

{% comment %} update the count {% endcomment %}
<span class="count-box" id="cart-count" hx-swap-oob="true">{{request.user|get_cart_count}}</span>

{% comment %} add item to the list {% endcomment %}
{% include 'server/components/cart/product.html' %}