{%load static %}
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-US" lang="en-US">

    <head>
        <meta charset="utf-8">
        <title>7ish - Make your wish</title>

        <meta name="author" content="themesflat.com">

        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

        <link rel="stylesheet" type="text/css" href="{% static 'login/css/animate.min.css'%}">
        <link rel="stylesheet" type="text/css" href="{% static 'login/css/animation.css'%}">
        <link rel="stylesheet" type="text/css" href="{% static 'login/css/bootstrap.css'%}">
        <link rel="stylesheet" type="text/css" href="{% static 'login/css/bootstrap-select.min.css'%}">
        <link rel="stylesheet" type="text/css" href="{% static 'login/css/styles.css'%}">

        <link rel="stylesheet" href="{% static 'font/fonts.css'%}">

    <!-- Icon -->
        <link rel="stylesheet" href="{% static 'icon/style.css'%}">

    <!-- Favicon and Touch Icons  -->
        <link rel="shortcut icon" href="{% static 'images/logo/favicon.svg' %}">
        <link rel="apple-touch-icon-precomposed" href="{% static 'images/logo/favicon.svg' %}">

    </head>

    <body class="body">

        <div id="wrapper">
        <!-- #page -->
            <div id="page" class="">
                <div class="login-page">
                    <div class="left">
                        <div class="login-box">
                            <div>
                                <h3>Password Reset Sent</h3>
                                <div class="body-text text-white">Check your email for the reset link.</div>
                            </div>
                            
                            <div class="bottom body-text text-center text-center text-white w-full">
                                Not received?
                                <a href="{% url 'password_reset' %}" class="body-text tf-color">Try again</a>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        <!-- /#page -->
        </div>

    <!-- Javascript -->
        <script src="{% static 'js/jquery.min.js'%}"></script>
        <script src="{% static 'js/bootstrap.min.js'%}"></script>
        <script src="{% static 'js/bootstrap-select.min.js'%}"></script>
        <script defer src="{% static 'login/js/main.js'%}"></script>

    </body>

</html>